/book/.ipynb_checkpoints/bench_mark-checkpoint.ipynb
/book/.ipynb_checkpoints/edm_data-checkpoint.ipynb
/book/learn_categorical_plots.ipynb
/book/.ipynb_checkpoints/compare_model-checkpoint.ipynb
/book/.ipynb_checkpoints/Right_GBM-checkpoint.ipynb
/book/.ipynb_checkpoints/Light_GBM-checkpoint.ipynb
/book/catboost_info/catboost_training.json
/book/catboost_info/learn/events.out.tfevents
/book/catboost_info/learn_error.tsv
/book/catboost_info/time_left.tsv
/book/.ipynb_checkpoints/Catboost-checkpoint.ipynb
/book/catboost_info/tmp/cat_feature_index.13be9697-ac24184c-411f3722-a0bcc579.tmp
